css 
height: 82px;
    padding: 0 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f8f6f2;
    border-bottom: 1px solid #dedbd4;
    position: relative;
    z-index: 10;